@import url('https://fonts.googleapis.com/css?family=Patua+One');

$background: #F45B69;
$random-button: #028090;
$random-button-hover: #456990;
$random-text: #E4FDE1;
$result-button: #028090;
$result-button-hover: #456990;
$result-button-shadow: #114B5F;
$result-text: #E4FDE1;
$paper: #f4f4f4;
$charcoal: #373737;


html, body{
  padding: 0;
  margin: 0;
}
html{
  height: 100%;
}
body{
  min-height: 100%;
}


/* Remove hyperlink underlines */
a {
  text-decoration: none;
}

body{
  background-color: $background;
}

.column-container{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

#title{
  text-align: center;
  color: $charcoal;
  font-family: 'Patua One', cursive;
  font-size: 53px;
  margin: 50px 0px 30px 0px;
  max-width: 100%;
}

#random-button{
  background-color: $random-button;
  color: $random-text;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
}

.fa-dice{
  transform: translateX(-1px);
}

#random-button:hover{
  background-color: $random-button-hover;
}

#search-container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px 30px 0px;
  max-width: 100%;
}

$input-width: 300px;

#search-input{
  padding: 0px 35px 0px 10px;
  border-radius: 10px;
  height: 36px;
  width: $input-width;
  max-width: 100%;
  font-size: 14pt;
  color: black;
}

#search-button{
  position: absolute;
  right: 2px;
  text-align: center;
  padding: 6px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 50%;

  border: none;
  
  font-size: 16pt;
  color: $charcoal;
  text-align: center;
}

#search-button:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.25);
}


$shadow-depth: 7px;
$depress-amount: 3px;

#results-container {
  width: 800px;
  max-width: 100%;
  align-items: stretch;
}

.result-button{
  background-color: $result-button;
  padding: 15px 30px 15px 30px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px $shadow-depth $result-button-shadow;
}

.result-button:hover{
  background-color: $result-button-hover;
}

.result-button:active{
  transform: translateY(calc(#{$shadow-depth} - #{$depress-amount}));
  box-shadow: 0px calc(#{$shadow-depth} - #{$depress-amount}) $result-button-shadow;
}

.result-title{
  font-size: 20pt;
  margin: 0px 0px 0px 0px;
  color: $result-text;
}

.result-snippet{
  font-size: 12pt;
  margin: 0px 0px 0px 0px;
  color: $result-text;
}

