@import url('https://fonts.googleapis.com/css?family=Patua+One');

$background: #F45B69;
$random-button: #028090;
$random-button-hover: #456990;
$random-text: #E4FDE1;
$result-button: #028090;
$result-button-hover: #456990;
$result-button-shadow: #114B5F;
$result-text: #E4FDE1;
$paper: #f4f4f4;
$charcoal: #373737;

html, body{
  padding: 0;
  margin: 0;
}
html{
  height: 100%;
}
body{
  min-height: 100%;
}

/* Remove hyperlink underlines */
a {
  text-decoration: none;
}

body{
  background-color: $background;
}

#title{
  color: $charcoal;
  font-family: 'Patua One', cursive;
  font-size: 40pt;
  margin: 50px 0px 30px 0px;
}

.column-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#random-button{
  background-color: $random-button;
  color: $random-text;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  outline: 0px;
  cursor: pointer;
}

.fa-dice{
  transform: translateX(-1px);
}

#random-button:hover{
  background-color: $random-button-hover;
}

#search-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0px 30px 0px;
}

$input-width: 300px;

#search-input{
  padding: 0px 35px 0px 10px;
  border-radius: 10px;
  height: 36px;
  width: $input-width;
  font-size: 14pt;
  outline: 0;
  color: black;
}

#search-button{
  position: absolute;
  margin: 0px 0px 0px ($input-width/2 + 5);
  text-align: center;
  padding: 6px;
  background-color: transparent;
  color: $charcoal;
  border: none;
  outline: 0;
  
  font-size: 16pt;
  text-align: center;
}

#search-button:hover{
    cursor: pointer;
    transform: scale(1.1, 1.1);
}

#search-button:active{
    cursor: pointer;
    transform: scale(0.9, 0.9);
}

$shadow-depth: 7px;
$depress-amount: 3px;


#result-button{
  display: flex;
  flex-direction: column;
  width: 800px;
  background-color: $result-button;
  padding: 15px 30px 15px 30px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px $shadow-depth $result-button-shadow;
}

#result-button:hover{
  background-color: $result-button-hover;
}

#result-button:active{
  transform: translateY(calc(#{$shadow-depth} - #{$depress-amount}));
  box-shadow: 0px calc(#{$shadow-depth} - #{$depress-amount}) $result-button-shadow;
}

#result-title{
  font-size: 20pt;
  margin: 0px 0px 0px 0px;
  color: $result-text;
}

#result-snippet{
  font-size: 12pt;
  margin: 0px 0px 0px 0px;
  color: $result-text;
}

